.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
    font-size: 8px;
}

.polygon {
    fill: white !important;
}

path {
  stroke: black;
  stroke-width: 0.1px;
}

.q0-9.polygon { fill:rgb(103,0,31) !important;}
.q1-9.polygon { fill:rgb(178,24,43) !important; }
.q2-9.polygon { fill:rgb(214,96,77) !important; }
.q3-9.polygon { fill:rgb(244,165,130) !important; }
.q4-9.polygon { fill:rgb(253,219,199) !important; }
.q5-9.polygon { fill:rgb(230,230,230) !important; }
.q6-9.polygon { fill:rgb(209,229,240) !important; }
.q7-9.polygon { fill:rgb(146,197,222) !important; }
.q8-9.polygon { fill:rgb(67,147,195) !important; }
.q9-9.polygon { fill:rgb(33,102,172) !important; }
.q10-9.polygon { fill:rgb(5,48,97) !important; }

.polygon:hover {
  fill-opacity: 0.5;
  fill: black !important;
}

.loader {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-top: 16px solid rgb(33,102,172);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.legend {
    text-align: left;
    float: right;
}

.rates {
    display: flex;
    flex-direction: row;
}

.legend-box {
    height: 20px;
    width: 10px;
}

.q0-9 { background-color:rgb(103,0,31) !important;}
.q1-9 { background-color:rgb(178,24,43) !important; }
.q2-9 { background-color:rgb(214,96,77) !important; }
.q3-9 { background-color:rgb(244,165,130) !important; }
.q4-9 { background-color:rgb(253,219,199) !important; }
.q5-9 { background-color:rgb(230,230,230) !important; }
.q6-9 { background-color:rgb(209,229,240) !important; }
.q7-9 { background-color:rgb(146,197,222) !important; }
.q8-9 { background-color:rgb(67,147,195) !important; }
.q9-9 { background-color:rgb(33,102,172) !important; }
.q10-9 { background-color:rgb(5,48,97) !important; }

.positive {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 11px
}

.negative {
    margin-right: 10px;
    font-size: 11px
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}
